# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.env

# IDE/editor
.vscode/
.idea/

# OS 
.DS_Store
Thumbs.db

# Data
toolresults/role_interest.jsonl
toolresults/unknown_question.jsonl
toolresults/user_details.jsonl

# Metadata
careerbot.egg-info/